/* utility */
.bc_green{
  background-color: #1ABC9C;
}

.bc_blue{
  background-color: #3A546D;
  padding: 50px 0;
}

.bc_darkblue{
  background-color: #2C3E50;
  padding: 30px 0;
}

.bc_green, .bc_blue, .bc_darkblue{
  color: white;
}

.c_blue{
  color: #3A546D;
}

.mt_30{
  margin-top: 30px;
}
/* /utility */

/* header */

/* navbar */
.navbar-default{
  color: white;
}
.navbar{
  background-color: #2C3E50;
}

/* id colore testo nav */
#start_white{
  color: white;
  font-size: 1,5em;
  font-weight: bold;
}
#port_white{
  color: white;
}
#about_white{
  color: white;
}
#cont_white{
  color: white;
}

.starter-template h1{
  font-size: 50px;
  font-weight: bold;
}
/* main */

h2{
  font-size: 40px;
  font-weight: bolder;
  padding-top: 30px;
}

.fa-star{
  padding-bottom: 20px;
}
/* portfolio */
.card{
  margin-bottom: 30px;
  border-radius: 10px;
  position: relative;
}

.card img{
  width: 100%;
}
.overlay{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.fa-plus{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 80px;
}

.overlay:hover{
  background-color: rgba(26, 188, 156, 0.9);
}

/* about */
.download i{
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 30px;
}

/* contact */

.border_line{
  border: none;
  border-bottom: 1px solid lightgrey;
  width: 100%;
  padding: 10px 0;
}

#message{
  padding-bottom: 50px;
}


.contact button{
  background-color: #1ABC9C;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border:none;
  margin-bottom: 30px;
}

/* footer */

.icon_footer i{
  border: 1px solid white;
  border-radius: 50%;
  padding: 10px;
}

.bc_blue a{
  color: #1ABC9C;
}

.bc_darkblue p{
  font-size: 10px;
}
