/* utility */
.bc_green{
  background-color: #1ABC9C;
}

.bc_blue{
  background-color: #3A546D;
}

.bc_darkblue{
  background-color: #2C3E50;
}

.text_center{
  text-align: center;
}
/* /utility */

/* header */

/* navbar */
.navbar-default{
  color: white;
}
.navbar{
  background-color: #2C3E50;
}

/* id colore testo nav */
#start_white{
  color: white;
  font-size: 1,5em;
  font-weight: bold;
}
#port_white{
  color: white;
}
#about_white{
  color: white;
}
#cont_white{
  color: white;
}

/* main */

/* portfolio */
.card{
  height: 250px;
  margin-bottom: 30px;
}

.prima{
  background-color: #BA4B63;
}
.seconda{
  background-color: #1EA4B6;
}
.terza{
  background-color: black;
}
.quarta{
  background-color: #1C83C1;
}
.quinta{
  background-color: #0E38B5;
}
.sesta{
  background-color: #CCB2A3;
}

/* contact */

.contact button{
  background-color: #1ABC9C;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border:none;
}
